In [85]:
import pandas as pd
import numpy as np

In [86]:
sampled_pwds = pd.read_csv("tl/e24_random_50_pwmds.csv")

In [87]:
model_name = "bert"

In [88]:
nn_pareto_df = pd.read_csv(f"/home/saisamarth/exp/tl/e24_{model_name}_NN_pareto_powermodes_pred_250_sampled.csv")
nn_df = pd.read_csv(f"/home/saisamarth/exp/tl/e24_merged_observed_predicted_{model_name}_NN_sampled_250.csv")

In [89]:
sampled_pwds = list(sampled_pwds['powermode'].values)

In [90]:
random_df = nn_df[nn_df['powermode'].isin(sampled_pwds)]

In [91]:
random_df.reset_index(drop=True, inplace=True)

In [92]:
# drop predicted columns
random_df = random_df.drop(columns=['predicted_time', 'predicted_power'])

In [93]:
if model_name == "bert":
    power_list = np.arange(10, 61, 1)
else:
    power_list = np.arange(10, 51, 1)

In [94]:
result_df_random = pd.DataFrame(columns=['powermode', 'observed_time', 'observed_power', 'power_budget'])
for power_budget in power_list:
    # find the best time under power budget for each power_budget
    try:
        best_time = random_df[random_df['observed_power'] <= power_budget].sort_values(by='observed_time').iloc[0]
        result_df_random.loc[len(result_df_random)] = [best_time['powermode'], best_time['observed_time'], best_time['observed_power'], power_budget]
    except:
        result_df_random.loc[len(result_df_random)] = [np.nan, np.nan, np.nan, power_budget]

In [95]:
result_df_nn = pd.DataFrame(columns=['powermode', 'observed_time', 'observed_power', 'power_budget'])
for power_budget in power_list:
    # find the best time under power budget for each power_budget
    try:
        best_time = nn_df[nn_df['predicted_power'] <= power_budget].sort_values(by='predicted_time').iloc[0]
        result_df_nn.loc[len(result_df_nn)] = [best_time['powermode'], best_time['observed_time'], best_time['observed_power'], power_budget]
    except:
        result_df_nn.loc[len(result_df_nn)] = [np.nan, np.nan, np.nan, power_budget]

In [96]:
# merge the two dataframes on power_budget with suffixes (random, nn)
result_df = pd.merge(result_df_random, result_df_nn, on='power_budget', suffixes=('_random', '_nn'))

In [97]:
result_df.head()

,powermode_random,observed_time_random,observed_power_random,power_budget,powermode_nn,observed_time_nn,observed_power_nn
0,NaN,NaN,NaN,10.0,NaN,NaN,NaN
1,NaN,NaN,NaN,11.0,NaN,NaN,NaN
2,NaN,NaN,NaN,12.0,NaN,NaN,NaN
3,NaN,NaN,NaN,13.0,NaN,NaN,NaN
4,NaN,NaN,NaN,14.0,NaN,NaN,NaN

In [98]:
def validate_nn_solution(data):
    data['flag'] = True
    # check if optim_power_nn is less than power_budget, flag = False
    data.loc[data['observed_power_nn'] > (data['power_budget']*1.1), 'flag'] = False
    return data

In [99]:
result_df = validate_nn_solution(result_df)

In [100]:
result_df.dropna(subset=['observed_time_nn'], inplace=True)

In [101]:
result_df

,powermode_random,observed_time_random,observed_power_random,power_budget,powermode_nn,observed_time_nn,observed_power_nn,flag
7,4_1651200_114750000_2133000000,7859.723633,16.9690,17.0,12_729600_114750000_665600000,7886.872314,16.0650,True
8,4_1958400_114750000_3199000000,7854.647217,17.8730,18.0,8_1344000_318750000_665600000,4145.834229,19.0760,True
9,4_1036800_318750000_665600000,4144.670410,18.7720,19.0,4_1036800_522750000_665600000,3967.600952,19.2780,True
10,8_729600_522750000_665600000,3961.261963,19.5690,20.0,8_1651200_522750000_665600000,3956.740845,19.6820,True
11,4_1651200_726750000_665600000,3931.531006,20.8780,21.0,8_1651200_318750000_2133000000,2869.890259,22.4890,True
12,4_422400_318750000_2133000000,2908.035889,21.9920,22.0,8_1958400_318750000_2133000000,2870.182251,22.8950,True
13,12_1651200_318750000_2133000000,2862.352051,22.8900,23.0,8_1958400_318750000_2133000000,2870.182251,22.8950,True
14,12_1344000_318750000_3199000000,2845.308716,23.9960,24.0,8_1958400_522750000_2133000000,1785.753418,28.1090,False
15,12_1651200_318750000_3199000000,2844.659302,24.3970,25.0,12_2201600_522750000_2133000000,1806.018188,28.9110,False
16,12_2201600_318750000_3199000000,2843.609131,25.3050,26.0,12_2201600_522750000_2133000000,1806.018188,28.9110,False
17,12_2201600_318750000_3199000000,2843.609131,25.3050,27.0,4_1344000_726750000_2133000000,1477.509705,31.4130,False
18,4_1651200_522750000_2133000000,1786.449524,27.7080,28.0,8_1958400_726750000_2133000000,1556.347656,31.6130,False
19,12_1958400_522750000_2133000000,1783.694336,28.5065,29.0,12_2201600_726750000_2133000000,1558.459167,32.4140,False
20,8_1651200_522750000_3199000000,1757.201843,29.6110,30.0,12_2201600_726750000_2133000000,1558.459167,32.4140,True
21,4_729600_726750000_2133000000,1520.586365,30.8180,31.0,4_1651200_930750000_2133000000,1354.386719,35.9170,False
22,8_1651200_726750000_2133000000,1466.020752,31.8210,32.0,8_1958400_930750000_2133000000,1361.213501,36.3260,False
23,8_1651200_726750000_2133000000,1466.020752,31.8210,33.0,8_1958400_930750000_2133000000,1361.213501,36.3260,False
24,4_422400_726750000_3199000000,1431.601746,33.8000,34.0,8_1651200_726750000_3199000000,1298.970154,35.8595,True
25,8_1036800_726750000_3199000000,1322.650085,34.9960,35.0,8_2201600_726750000_3199000000,1300.761597,37.0080,True
26,4_1651200_726750000_3199000000,1303.959656,35.6050,36.0,12_2201600_726750000_3199000000,1303.833252,37.3630,True
27,12_1958400_726750000_3199000000,1297.475708,36.8000,37.0,12_2201600_726750000_3199000000,1303.833252,37.3630,True
28,12_1958400_726750000_3199000000,1297.475708,36.8000,38.0,4_1651200_930750000_3199000000,1055.444946,43.2150,False
29,12_1958400_726750000_3199000000,1297.475708,36.8000,39.0,8_1958400_930750000_3199000000,1059.246277,42.7160,True
30,4_422400_930750000_3199000000,1207.514160,39.2140,40.0,8_2201600_930750000_3199000000,1123.991211,42.5120,True
31,8_422400_930750000_3199000000,1179.719177,40.5970,41.0,8_2201600_930750000_3199000000,1123.991211,42.5120,True
32,4_1344000_930750000_3199000000,1084.550110,41.2120,42.0,8_2201600_930750000_3199000000,1123.991211,42.5120,True
33,8_1958400_930750000_3199000000,1059.246277,42.7160,43.0,4_1958400_1134750000_3199000000,973.153198,48.9510,False
34,12_1651200_930750000_3199000000,1057.350342,43.4240,44.0,4_2201600_1134750000_3199000000,968.724152,50.3150,False
35,12_1651200_930750000_3199000000,1057.350342,43.4240,45.0,4_2201600_1134750000_3199000000,968.724152,50.3150,False
36,12_1651200_930750000_3199000000,1057.350342,43.4240,46.0,4_2201600_1134750000_3199000000,968.724152,50.3150,True
37,12_1651200_930750000_3199000000,1057.350342,43.4240,47.0,4_2201600_1300500000_3199000000,930.251312,56.5300,False
38,12_1651200_930750000_3199000000,1057.350342,43.4240,48.0,4_2201600_1300500000_3199000000,930.251312,56.5300,False
39,4_1958400_1134750000_3199000000,973.153198,48.9510,49.0,4_2201600_1300500000_3199000000,930.251312,56.5300,False
40,12_1651200_1134750000_3199000000,962.927185,49.9020,50.0,4_2201600_1300500000_3199000000,930.251312,56.5300,False
41,12_1651200_1134750000_3199000000,962.927185,49.9020,51.0,4_2201600_1300500000_3199000000,930.251312,56.5300,False
42,12_1651200_1134750000_3199000000,962.927185,49.9020,52.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True
43,12_1651200_1134750000_3199000000,962.927185,49.9020,53.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True
44,12_1651200_1134750000_3199000000,962.927185,49.9020,54.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True
45,4_1344000_1300500000_3199000000,953.166382,54.5410,55.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True
46,8_1651200_1300500000_3199000000,922.597565,55.9295,56.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True
47,8_1651200_1300500000_3199000000,922.597565,55.9295,57.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True
48,8_1651200_1300500000_3199000000,922.597565,55.9295,58.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True
49,8_1651200_1300500000_3199000000,922.597565,55.9295,59.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True
50,8_1651200_1300500000_3199000000,922.597565,55.9295,60.0,4_2201600_1300500000_3199000000,930.251312,56.5300,True

In [102]:
nn_df[nn_df['powermode'] == '4_1036800_522750000_2133000000']

,observed_time,observed_power,powermode,predicted_time,predicted_power
145,1790.215393,27.307,4_1036800_522750000_2133000000,2102.1733,23.242609

In [103]:
#  calcuate mape between observed_power and predicted_power
((nn_pareto_df['predicted_power'] - nn_pareto_df['observed_power']).abs() / nn_pareto_df['observed_power']).mean()

0.09796135150065297

In [104]:
# print count of True, False and total (40)
print(result_df['flag'].value_counts())

flag
True     26
False    18
Name: count, dtype: int64

In [105]:
result_df.to_csv(f"{model_name}_random_vs_nn_train_alt.csv", index=False)